# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Saved games
*.sav

# Visual Studio Code stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# No idea (haha) what this is from, but it is not needed
.idea/*

# Distribution / packaging
.Python
build/
dist/
Lib/
Scripts/

# Choosing to keep my PyInstaller spec files in, as it is not the simplest config
